<h2><%= "#{t('global.actions.verb.edit')} #{t('form.devise.user_data')}".downcase.capitalize %></h2>

<div class="row">
  <div class="col-md-6 buffer-top">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: t('activerecord.attributes.user.email'), class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= "#{t('form.devise.currently_waiting_confirmation_for')} #{resource.unconfirmed_email}" %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(<%= t('form.devise.leave_blank_if_you_dont_want_change_password') %>)</i>
    <%= f.password_field :password, autocomplete: t('form.devise.new_password'), class: 'form-control' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> <%= t('form.devise.characters_minimum') %></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: t('activerecord.attributes.user.password'), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: t('activerecord.attributes.user.password_confirmtaion'), class: 'form-control' %>
  </div>

  <div class="actions buffer-top">
    <%= f.submit t('global.actions.noun.update'), class: 'btn btn-primary' %> или <%= link_to t('global.actions.verb.back'), :back %>
  </div>
<% end %>
  </div>
</div>

<h3><%= "#{t('global.actions.verb.delete')} #{t('global.word.account')}".downcase.capitalize %></h3>

<p> <%= t('form.devise.unpleasured_of_servise?') %> \
  <%= button_to "#{t('global.actions.verb.delete')} #{t('global.word.account')}".downcase.capitalize,
    registration_path(resource_name),
    data: { confirm: "#{t('form.confirmation.are_you_sure_that_you_want')} #{t('global.actions.verb.delete')} #{t('global.word.account')}".downcase.capitalize },
    method: :delete %>
</p>
