<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form_group buffer-bottom">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form_group buffer-top">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form_group buffer-top">
    <%= f.label :datetime %>
    <%= f.datetime_select :datetime, class: 'form-control' %>
  </div>

  <div class="form_group buffer-top">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions buffer-top">
    <%= f.submit t('global.actions.verb.save'), class: 'btn btn-primary' %> <%= "#{t('global.word.or')}" %> <%= link_to t('global.actions.verb.back'), :back %>
  </div>
<% end %>
