<h1><%= "#{t('activerecord.models.event.of')}" %></h1>

<div class="buffer-bottom">
  <% if user_signed_in? %>
    <%= link_to "#{t('global.actions.verb.create')} #{t('activerecord.models.event.one')}".downcase.capitalize, new_event_path, class: 'btn btn-success' %>
  <% else %>
    <p><%= t('global.first_time.you_have_to_registrate_to_create_events') %> <%= link_to t('global.actions.sign.up'), new_user_registration_path %></p>

  <% end %>
</div>

<div class="row buffer-bottom">
  <% if @events.empty? %>
    <p><%= t('global.first_time.there_is_no_events_yet') %></p>
  <% else %>
    <%= render partial: 'events/event', collection: @events %>
  <% end %>
</div>
