<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <link rel="stylesheet" href="stic">
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag "application" %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark buffer-bottom">
  <div class="container">
    <%= link_to t('global.app.name'), root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to t('global.profile.one'), current_user, class: 'nav-link' %></li>
          <li><%= link_to t('global.actions.sign.out'), destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to t('global.actions.sign.in'), new_user_session_path, class: 'nav-link' %></li>
          <li><%= link_to t('global.actions.sign.up'), new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <footer class="bg-dark fixed-bottom">
    <div class="container text-white text-center">
      <p class="">&copy; <%= I18n.t('global.app.company') %> 2021</p>
    </div>
  </footer>
</div>
</body>
</html>
