<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag "application" %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to t('global.app.name'), root_path, class: 'navbar-brand'%>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in?  %>
          <li><%= link_to t('global.profile.one'), current_user %></li>
          <li><%= link_to t('global.actions.sign.out'), destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to t('global.actions.sign.in'), new_user_session_path %></li>
          <li><%= link_to 'sign_in', new_user_session_path %></li>
          <li><%= link_to t('global.actions.sign.up'), new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to 'sign_in', new_user_session_path %>
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <footer>
    <p>&copy; <%= I18n.t('global.app.company') %> 2021</p>
  </footer>
</div>
</body>
</html>
